In [1]:
import pandas as pd
#Estructuras de datos en Pandas(SERIES:Almacena cualquier tipo de dato(Eso indica una sola fila)
#DATAFRAME:Un conjunto de Series,Estructura bidimensional con columnas que pueden ser tambien de cualquier tipo)
#Generando una Serie,contiene propiedades :.size,.index:Devuelve una lista con los nombres de las filas del DataFrame
# dtype 
numeros = pd.Series([4,1,9,2,6,10,200])
materias = pd.Series({'A':1,'B':2,'Mat':60,'Fis':20})
#numeros.size
#numeros.dtype
#numeros.index
#print(numeros)
#print(materias)
numeros.sum()
numeros.max()
numeros.min()
# Propiedad de estadistica:Encontrar una serie a partir nuestra Desviacion Estandal
numeros.std()
numeros.describe()
print(materias.sort_values())
print(materias[materias > 50])
print(materias.sort_index(ascending=True))

A       1
B       2
Fis    20
Mat    60
dtype: int64
Mat    60
dtype: int64
A       1
B       2
Fis    20
Mat    60
dtype: int64

In [2]:
data = 5
serie = pd.Series(data,index=[0,1,2,4])
print(serie)
data_lista = ['M','A','T']
indices = ['PSG','MA','REA']
serie1 = pd.Series(data_lista,indices)
print(serie1)

0    5
1    5
2    5
4    5
dtype: int64
PSG    M
MA     A
REA    T
dtype: object

In [3]:
# DataFrame
import pandas as pd
import numpy as np
dataf = {'NOMBRE':['M','J','N'],'CARRERA':['Aud','Info','Derec']}
estudiantes = pd.DataFrame(dataf)
print(estudiantes)
dataf1 = [['M',25,'m@'],['J',15,'j@']]
estudiantes1 = pd.DataFrame(dataf1,columns = ['NOMBRE','EDAD','CORREO'])
print(estudiantes1)
dataf2 = pd.DataFrame(np.random.randn(4,3),columns=['a','b','c'])
print(dataf2)
# df es un dataframe
df = pd.read_csv('ModalidadVirtual.csv')
df
df["carrera"][0]
df["edad"] > 23
#filtrar = df['edad'] > 23
df_filtrar = df[df['edad'] > 23]
df_filtrar 
df.index
df.dtypes
df.size
# Devuelve las n primeras filas del DataFrame
df.head(5)
# Devuelve las n ultimas filas del DataFrame
df.tail(5)
convertir = pd.read_excel('Dato.xlsx')
#convertirdf1.to_csv('DatoOriginal.csv',index=None,header=True)
convertir.to_csv('DatoOriginal.csv',index=None,header=True)
df1 = pd.read_csv('DatoOriginal.csv')
df1
# Coordinada de localizacion:
"""df1.iloc[1,3]
df1.loc[1,'NOMBRE']
df1['NOMBRE'][0]
df1['TURNO'] = pd.Series(['tarde','noche'])
TURNO =df1.pop('TURNO')
print(TURNO)"""


df1 = df1._append(pd.Series(['Juanita',28,'M','Sociologia'],
              index = ['NOMBRE','EDAD','GENERO','CARRERA']),ignore_index =True)

#df1.loc[len(df)] = pd.Series(['Carlos',27,'M','Sociologia'],
 #              index = ['NOMBRE','EDAD','GENERO','CARRERA'])
#df1.drop([1,2]) #elimina la fila 1 y la fila 2 
#df1[(df1['GENERO']=='F') &  (df1['EDAD'] > 22)]
#df1.sort_values('CARRERA')   #Orndena de manera alfab ascendente
df1.sort_values('EDAD')   #Orndena de manera numerica ascendente
#df1.dropna() #elimina las filas donde hay celdas vacias tipo "NAN"
#Concatenacion o Mezcla:
# Concatenacion por filas LOS DATAFRAMES QUE SE COMBINEN TENGAN EL MISMO INDICE DE COLUMNAS
DF1 = pd.DataFrame({'NOMBRE':['Juana','Maria'],'CARRERA':['ECO','LIM'],'EDAD':[20,21]}).set_index('NOMBRE')
DF2 = pd.DataFrame({'NOMBRE':['Angel','Oscar'],'CARRERA':['ECO','LIM'],'EDAD':[25,22]}).set_index('NOMBRE')
DF3 = pd.concat([DF1,DF2])
DF3
# Concatenacion por columnas LOS DATAFRAMES QUE SE COMBINEN TENGAN EL MISMO INDICE DE FILAS
DF4 = pd.DataFrame({'NOMBRE':['Juana','Maria'],'TIEMPO':[20,32]}).set_index('NOMBRE')
DF5 = pd.concat([DF1,DF4],axis=1)
DF5
# Mezclar DataFrame permite integrar filas de Dos DataFrames que contienen informacion en comun en una o varias columnas
# mediante una clave
DF6 = pd.DataFrame({"AUTOS":['Nissan','Ford'],"COLOR":['negro','azul']})
DF7 = pd.DataFrame({"AUTOS":['Nissan','Ford'],"MODELO":['A1','B1']})
DF8 = pd.merge(DF6,DF7, on='AUTOS',how='left')
DF8

  NOMBRE CARRERA
0      M     Aud
1      J    Info
2      N   Derec
  NOMBRE  EDAD CORREO
0      M    25     m@
1      J    15     j@
          a         b         c
0 -1.103029  2.027234 -0.097918
1  0.895122 -0.260029 -2.005113
2  1.725014  0.378938  1.575381
3  1.115204  0.823009 -0.090001

    AUTOS  COLOR MODELO
0  Nissan  negro     A1
1    Ford   azul     B1

In [1]:
import pandas as pd
columns = ['marca','precio','disponibilidad']
cocheA = ["Mercedes",10e3,True]
cocheB = ["BMW",20e3,False]
df = pd.DataFrame([cocheA,cocheB],columns=columns)
df
coche = ['Mercedes','BMW']
precio = [10e3,10e5]
disponibilidad = [True,False]
df = pd.DataFrame(
    list(zip(coche,precio,disponibilidad)),
    columns=columns)
df
# PANDAS Y MATPLOTLIB

      marca     precio  disponibilidad
0  Mercedes    10000.0            True
1       BMW  1000000.0           False

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
df = pd.read_csv("avocado.csv")
df["region"][:49]
chicago = df[df["region"] == "Chicago"]
chicago = chicago.set_index("Date")
chicago = chicago.sort_values(by="Date")
#Grafico
MAX_SAMPLES = 100
precio = chicago["AveragePrice"][:MAX_SAMPLES]
Cantidad = chicago["Total Volume"][:MAX_SAMPLES]
plt.plot(precio,label="Precio Medio")
plt.plot(Cantidad,label="Volumen total")
plt.title("Precio de los aguacates vs tiempo")
plt.xlabel("Fecha")
plt.xticks(rotation=90)
plt.ylabel("Precio en $")
plt.legend()
plt.show()

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
df = pd.read_csv("avocado.csv")
atlanta = df[df["region"] == "Atlanta"]
#atlanta = atlanta[:2]
#atlanta = atlanta.set_index('Date')
atlanta = atlanta.sort_index()
precio = atlanta["AveragePrice"]
precioPromedio = precio.rolling(30,min_periods =1).mean()
volumen = atlanta["Total Volume"]

bolsasAguacate = atlanta["Total Bags"]
sbolsas = atlanta["Small Bags"]
lbolsas = atlanta["Large Bags"]
xlbolsa = atlanta["XLarge Bags"]
plt.subplot(221)
plt.title("Precio aguacate")
plt.plot(precio,label="Precio",color = "blue")
plt.plot(precioPromedio,label="Precio Promediado",color = "orange")
plt.legend()
#plt.xticks(rotation=90)

plt.subplot(222)
plt.title("Volumen aguacate")
plt.plot(volumen,label="Volumen Total",color="red")
plt.legend() 

plt.subplot(223)
plt.title("Bolsas Totales de aguacates")
plt.plot(bolsasAguacate,label="Bolsas Total",color="blue")
plt.legend()

plt.subplot(224)
plt.title("Bolsas por tamaño")
plt.plot(sbolsas,label="Bolsas - S",color="black")
plt.plot(lbolsas,label="Bolsas - L ",color="cyan")
plt.plot(xlbolsa,label="Bolsas - XL",color="yellow")
plt.legend()

plt.tight_layout()
plt.show()

In [ ]:
import re
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
results = pd.read_csv("survey_results_public.csv",index_col="ResponseId")
resultsSchema = pd.read_csv("survey_results_schema.csv")
languages = "LanguageWantToWorkWith"
salary = "ConvertedCompYearly"
results.rename(columns={languages:"Languages",salary:"Salary"},inplace=True)
results.dropna(subset=["Salary","Languages"],inplace=True)
results = results.loc[:,["Country","Salary","Languages"]].sort_values(by="Salary")
filtro = (results["Salary"] >= 10000) & (results["Salary"] <= 3e6)
results = results[filtro]
lg = results["Languages"]
alLanaguages = lg[55969].split(";")
for row in lg:
    for lang in row.split(";"):
        alLanaguages.append(lang)
alLanaguages = list(set(alLanaguages))
alLanaguages.sort()
meanSalary = pd.DataFrame(data=np.zeros(len(alLanaguages)),index=alLanaguages,columns=["Salary"])
for lang in alLanaguages:
    mask = results["Languages"].str.contains(re.escape(lang))
    average = results.loc[mask,"Salary"].mean()
    meanSalary.loc[lang,"Salary"] = average
colors = [
    "#03071E",
    "#370617",
    "#6A040F",
    "#9D0208",
    "#D00000",
    "#DC2F02",
    "#E85D04",
    "#F48C06",
    "#FAA307",
    "#FFBA08"
]
fontdict = {
    'family':'serif',
    'color':'darkred',
    'weight':'normal',
    'size':16
}
%matplotlib qt5

plt.style.use("seaborn")
meanSalary.sort_values(by="Salary",inplace=True)
plt.barh(meanSalary.index,meanSalary["Salary"],color=colors) 
plt.vlines(meanSalary["Salary"].mean(),0,len(meanSalary["Salary"]),color="red",linestyles="dotted")
plt.title("Programming Languages Yearly Compensation")
plt.xlabel("Mean Salary in $")
plt.ylabel("Programming languages")
plt.gca().xaxis.set_major_formatter('${x:1.0f}')
plt.legend()
plt.tight_layout()
plt.show()


#https://www.youtube.com/watch?v=ckjUa76F9Vg&list=PLVs9JdE6ZZh0RBT7lIPxUkcTmAUhMEimn&index=7

In [1]:
import pandas as pd
persona = {
    "nombre":["Lucas","Miguel"],
    "edad":[20,30],
    "dni":["45678","12345"]
}

df = pd.DataFrame(persona)
df["profesiones"] = ["Ingeniero","Doctor"]
df = df.assign(sueldo = [2000,4000])
df.insert(3,"email",["dimas@email","ma@gmail"])

condicion = df["nombre"] == "Lucas"
df[condicion]
condicion = df.email.isin(["dimas@email","jjjj","kkkk"]) | df.nombre.isin(["Miguel"])
df[condicion]
df.iloc[[0,1],[2,3]]
nombres = df.set_index("nombre")
print(nombres)
nombres.loc[["Miguel"]]

        edad    dni        email profesiones  sueldo
nombre
Lucas     20  45678  dimas@email   Ingeniero    2000
Miguel    30  12345     ma@gmail      Doctor    4000

        edad    dni     email profesiones  sueldo
nombre
Miguel    30  12345  ma@gmail      Doctor    4000